{% load static %}
	<footer>
		<div class="container-xl">
			<div class="footer-inner">
				<div class="row d-flex align-items-center gy-4">
					<!-- copyright text -->
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; 2021.Company name All rights reserved.</span>
					</div>

{#					<!-- social icons -->#}
					<div class="col-md-4 text-center">
{#						<ul class="social-icons list-unstyled list-inline mb-0">#}
{#							<li class="list-inline-item"><a href="#"><i class="fab fa-qq"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fab fa-weixin"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fab fa-weibo"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fab fa-zhihu"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>#}
{#						</ul>#}
					</div>

					<!-- go to top button -->
					<div class="col-md-4">
						<a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>顶部</a>
					</div>
				</div>
                {% for foo in linkfri %}
                    <a href="{{ foo.LinkUrl }}" rel="{{ foo.LinkRel }}">{{ foo.LinkName }}</a>
                {% endfor %}
                
			</div>
		</div>
	</footer>

</div>