{% load static %}
{#<div class="search-popup">#}
{#	<!-- close button -->#}
{#	<button type="button" class="btn-close" aria-label="Close"></button>#}
{#	<!-- content -->#}
{#	<div class="search-content">#}
{#		<div class="text-center">#}
{#			<h3 class="mb-4 mt-0">按ESC关闭搜索</h3>#}
{#		</div>#}
{#		<!-- form -->#}
{#		<form class="d-flex search-form" action="">#}
{#			<input class="form-control me-2" type="search" placeholder="输入您想搜索的内容,按回车键搜索！" aria-label="Search">#}
{#			<button class="btn btn-default  btn-lg" type="submit"><i class="icon-magnifier"></i></button>#}
{#		</form>#}
{#	</div>#}
{#</div>#}