{% load static %}
<ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
    <li class="list-inline-item"><a href="{% url 'article:go1' %}"><i class="fab fa-qq"></i></a></li>
{#    <li class="list-inline-item"><a href="#"><i class="fab fa-weixin"></i></a></li>#}
    <li class="list-inline-item"><a href="{% url 'article:go3' %}"><i class="fab fa-weibo"></i></a></li>
    <li class="list-inline-item"><a href="{% url 'article:go4' %}"><i class="fab fa-zhihu"></i></a></li>
{#    <li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>#}
    <li class="list-inline-item"><a href="{% url 'article:go6' %}"><i class="fab fa-youtube"></i></a></li>
</ul>